{{#*inline "page"}}
	<div class="page-content">
		<div class="wrapper">
			<div class="post">
				<article class="post-content">{{{contents}}}</article>
			</div>
		</div>
	</div>
{{/inline}}
{{~> (parent)~}}
