{% extends "layout" %}
{% block content %}
	<div class="page-content">
		<div class="wrapper">
			<div class="post">
				<article class="post-content">{{ contents | safe }}</article>
			</div>
		</div>
	</div>
{% endblock %}
