<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>Yongchao's Blog</title>
	<link href="/styles/main.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet"
		  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
	<link rel="shortcut icon" href="/imgs/favicon.ico">
</head>
<body>
<div>
	{{> nav }}
	{{~> page}}
	{{> footer }}
</div>
</body>
</html>
