{{#*inline "page"}}
<div class="page-content">
    <div class="wrapper">
        <div>
            <header class="post-header">
                <h2 class="post-title">{{tag}}</h2>
            </header>
            <ul class="post-list">
                {{#each posts}}
                <li>
                    <span class="post-meta">{{created_date_time}}</span>
                    <h2><a class="post-link" href="{{url}}">{{title}}</a></h2>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{/inline}}
{{~> (parent)~}}
