body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #111;
	background-color: #fdfdfd;
	-webkit-text-size-adjust: 100%
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
	margin-bottom: 15px
}

img {
	max-width: 100%;
	vertical-align: middle
}

figure>img {
	display: block
}

figcaption {
	font-size: 14px
}

ul, ol {
	margin-left: 30px
}

li>ul, li>ol {
	margin-bottom: 0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300
}

a {
	color: #2a7ae2;
	text-decoration: none
}

a:visited {
	color: #1756a9
}

a:hover {
	color: #111;
	text-decoration: underline
}

blockquote {
	color: #828282;
	border-left: 4px solid #e8e8e8;
	padding-left: 15px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic
}

blockquote> :last-child {
	margin-bottom: 0
}

pre>code {
	border-radius: 2px;
}

.wrapper {
	max-width: -webkit-calc(800px - (30px * 2));
	max-width: calc(800px - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px
}

@media screen and (max-width: 800px) {
	.wrapper {
		max-width: -webkit-calc(800px - (30px));
		max-width: calc(800px - (30px));
		padding-right: 15px;
		padding-left: 15px
	}
}

.wrapper:after, .footer-col-wrapper:after {
	content: "";
	display: table;
	clear: both
}

.page-content {
	padding: 30px 0
}

.page-heading {
	font-size: 20px
}

.post-list {
	margin-left: 0;
	list-style: none
}

.post-list>li {
	margin-bottom: 30px
}

.post-meta {
	font-size: 14px;
	color: #828282
}

.post-tag {
	font-size: 14px;
	color: #39739d;
	background-color: #E1ECF4;
	padding: .25em .5em;
	text-decoration: none;
	margin: 0px 5px 0 0 !important;
}

.post-link {
	display: block;
	font-size: 24px
}

.post-header {
	margin-bottom: 30px
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1
}

@media screen and (max-width: 800px) {
	.post-title {
		font-size: 36px
	}
}

.post-content {
	margin-bottom: 30px
}

.post-content h2 {
	font-size: 32px
}

@media screen and (max-width: 800px) {
	.post-content h2 {
		font-size: 28px
	}
}

.post-content h3 {
	font-size: 26px
}

@media screen and (max-width: 800px) {
	.post-content h3 {
		font-size: 22px
	}
}

.post-content h4 {
	font-size: 20px
}

@media screen and (max-width: 800px) {
	.post-content h4 {
		font-size: 18px
	}
}

.header {
	border-top: 5px solid #424242;
	border-bottom: 1px solid #e8e8e8;
	min-height: 56px;
	position: relative
}

.title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left
}

.title, .title:visited {
	color: #424242
}

.nav {
	float: right;
	line-height: 56px
}

.nav .menu_icon {
	display: none
}

.nav .page_link {
	color: #111;
	line-height: 1.5
}

.site-nav .page_link:not(:first-child) {
	margin-left: 20px
}

@media screen and (max-width: 600px) {
	.nav {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: #fdfdfd;
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		text-align: right
	}
	.nav .menu_icon {
		display: block;
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center
	}
	.nav .menu_icon>svg {
		width: 18px;
		height: 15px
	}
	.nav .menu_icon>svg path {
		fill: #424242
	}
	.nav .trigger {
		clear: both;
		display: none
	}
	.nav:hover .trigger {
		display: block;
		padding-bottom: 5px
	}
	.nav .page_link {
		display: block;
		padding: 5px 10px
	}
}

.footer {
	border-top: 1px solid #e8e8e8;
	padding: 30px 0
}

.footer_heading {
	font-size: 18px;
	margin-bottom: 15px
}

.contact_list, .social_media_list {
	list-style: none;
	margin-left: 0
}

.footer_col_wrapper {
	font-size: 15px;
	color: #828282;
	margin-left: -15px
}

.footer_col {
	float: left;
	margin-bottom: 15px;
	padding-left: 15px
}

.footer_col_1 {
	width: -webkit-calc(35% - (30px / 2));
	width: calc(35% - (30px / 2))
}

.footer_col_2 {
	width: -webkit-calc(20% - (30px / 2));
	width: calc(20% - (30px / 2))
}

.footer_col_3 {
	width: -webkit-calc(45% - (30px / 2));
	width: calc(45% - (30px / 2))
}

@media screen and (max-width: 800px) {
	.footer_col_1, .footer_col_2 {
		width: -webkit-calc(50% - (30px / 2));
		width: calc(50% - (30px / 2))
	}
	.footer_col_3 {
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2))
	}
}

@media screen and (max-width: 600px) {
	.footer_col {
		float: none;
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2))
	}
}

.icon>svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle
}

.icon>svg path {
	fill: #828282
}
